<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1 style="font-size: 60px; color: rgb(124, 190, 244); font-style: italic;">Don't know what to watch ?</h1>
    <p style="font-size: 50px; color: rgb(124, 190, 244); font-style: italic;">We recommend you movies based on what you want!</p>
    
    {% endblock %}
</body>
</html>